<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOTO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <section class="active about">
      <div class="pees">
        <p>I made it almost by myself. ChatGPT was used mostly as a mentor.</p>
        <p>Im not a copycat. This is hard work.</p>
      </div>
    </section>
  </body>
</html>
