<%- include("partials/header.ejs") %>

<main>
  <section class="secD not-active active">
    <h1>Day</h1>

    <form action="/submit" method="post">
      <input type="text" name="taskD" placeholder="New task" class="inp" />
      <input type="submit" value="+" class="sub-btn" />
    </form>

    <ul class="list">
      <li class="item">
        <span class="text"> HELLO</span>
        <div class="btn-container">
          <button class="pencil">✓</button>
          <button class="delete">x</button>
        </div>
      </li>

      <li class="item">
        <span class="text">WHATSUP</span>
        <div class="btn-container">
          <button class="pencil">✓</button>
          <button class="delete">x</button>
        </div>
      </li>
    </ul>

    <button class="less-btn">...</button>
  </section>

  <section class="secW not-active">
    <h1>Week</h1>

    <form action="/submit" method="post">
      <input type="text" name="taskW" placeholder="New task" class="inp" />
      <input type="submit" value="+" class="sub-btn" />
    </form>

    <ul class="list">
      <li class="item">
        <span class="text">HELLO 2</span>
        <div class="btn-container">
          <button class="pencil">✓</button>
          <button class="delete">x</button>
        </div>
      </li>

      <li class="item">
        <span class="text">WHATSUP 2</span>
        <div class="btn-container">
          <button class="pencil">✓</button>
          <button class="delete">x</button>
        </div>
      </li>
    </ul>

    <button class="less-btn">...</button>
  </section>
</main>

<script>
  $(document).ready(function () {
    $(".less-btn").click(function () {
      $(this).closest("section").toggleClass("full-height");
      $("footer").remove();
    });

    const $sectionD = $(".secD");
    const $sectionW = $(".secW");

    $($sectionD).click((event) => {
      if ($(event.target).is("button")) {
        event.preventDefault(); // Prevent the default button behavior
        return;
      }

      if ($sectionD.hasClass("active")) {
      } else {
        $sectionD.addClass("active");
        $sectionW.removeClass("active");
      }
    });
    $($sectionW).click((event) => {
      if ($(event.target).is("button")) {
        event.preventDefault(); // Prevent the default button behavior
        return;
      }

      if ($sectionW.hasClass("active")) {
      } else {
        $sectionW.addClass("active");
        $sectionD.removeClass("active");
      }
    });
  });
</script>

<%-include("partials/footer.ejs") %>
